<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<h3><%= @product.name %></h3>

<div class="panel panel-default">
  <div class="panel-body">
    <p><strong>Descrição: </strong><%= @product.description %></p>
    <p><strong>Preço: </strong><%= @product.price %></p>
    <p><strong>Quantidade: </strong><%= @product.amount %></p>
  </div>
</div>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Listar produtos', products_path %>